#serve all resources labeled as 'text/html' or 'text/plain' with the media type 'charset' parameter set to UTF-8'
#https://httpd.apache.org/docs/current/mod/core.html#adddefaultcharset
AddDefaultCharset utf-8

#add handler that allows html, xml, and json to work dynamically as PHP
#https://httpd.apache.org/docs/current/mod/mod_mime.html#addtype
#https://httpd.apache.org/docs/current/mod/mod_mime.html#addhandler
#AddType application/x-httpd-php .html .xml .json
AddHandler php5-script .xml .json

#serve correct media type (MIME type) for resources
#https://httpd.apache.org/docs/current/mod/mod_mime.html#addtype
<IfModule mod_mime.c>
AddType application/atom+xml .atom
AddType application/json .json
AddType application/ld+json .jsonld
AddType application/rss+xml .rss
AddType application/xml .rdf .xml
AddType application/vnd.ms-fontobject .eot
AddType application/x-font-ttf .ttc .ttf
AddType font/ttf .ttf
AddType font/opentype .otf
AddType font/otf .otf
AddType application/font-woff .woff
AddType font/x-woff .woff
AddType application/font-woff2 .woff2
AddType image/svg+xml .svg
</IfModule>

#compress html, css, javascript, font, and miscellaneous resources
#https://httpd.apache.org/docs/current/mod/mod_deflate.html
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE "text/css" "text/html" "text/javascript" "text/plain" "text/xml" "application/x-javascript" "application/javascript" "application/json" "application/ld+json" "application/rdf+xml" "application/rss+xml" "application/x-font-woff" "application/font-woff2" "application/x-font-ttf" "application/vnd.ms-fontobject" "font/eot" "font/opentype" "font/otf" "font/ttf" "font/x-woff" "image/bmp" "image/jpeg" "image/svg+xml" "image/vnd.microsoft.icon" "image/x-icon" 
</IfModule>

#set expires headers to improve caching
#https://httpd.apache.org/docs/current/mod/mod_expires.html
#<IfModule mod_expires.c>
  #ExpiresActive on
  #ExpiresDefault "access plus 1 month"
  #ExpiresByType text/html "access plus 0 seconds"
  #ExpiresByType application/rss+xml "access plus 1 hour"
  #ExpiresByType application/json "access plus 0 seconds"
  #ExpiresByType text/css "access plus 1 week"
  #ExpiresByType application/javascript "access plus 1 week"
  #ExpiresByType application/x-javascript "access plus 1 week"
  #ExpiresByType text/javascript "access plus 1 week"
  #ExpiresByType image/gif "access plus 1 month"
  #ExpiresByType image/png "access 1 month"
  #ExpiresByType image/jpg "access 1 month"
  #ExpiresByType image/jpeg "access 1 month"
  #ExpiresByType application/pdf "access plus 1 year"
  #ExpiresByType image/x-icon "access 1 year"
#</IfModule>
